<div class="container">
    <h2>Возможности роли: Администратор</h2>
    <a class="btn btn-outline-dark me-2" asp-action="UserList" asp-controller="Administration">
        Редактирование пользователей
    </a>
</div>
