@model IEnumerable<GeoEvents.Persistence.IdentityEF.MyIdentityUser>

<div class="container">
    <h2>Список пользователей</h2>
    <table class="table">
        @foreach (var user in Model)
        {
            <tr>
                <td>
                    @user.Email
                </td>
                <td>
                    <a class="btn btn-sm btn-primary" asp-action="EditRoleUser" asp-route-userid="@user.Id">Редактирование роли пользователя</a>
                    <a class="btn btn-sm btn-primary" asp-action="DeleteUser" asp-route-userid="@user.Id">Удалить пользователя</a>
                </td>
            </tr>
        }
    </table>
</div>