<div class="container">
    <h2>Возможности роли: Модератор</h2>
    <a class="btn btn-outline-dark me-2" asp-action="" asp-controller="Moderator">
        Рассмотрение заявок на новые события
    </a>
    <a class="btn btn-outline-dark me-2" asp-action="" asp-controller="Moderator">
        Редактирование созданных событий
    </a>
</div>
