@inject SignInManager<MyIdentityUser> signInManager;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @ViewBag.Title
    </title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a asp-action="index" asp-controller="home" class="nav-link px-2 text-secondary">Home</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Features</a></li>
                <li><a href="#" class="nav-link px-2 text-white">Pricing</a></li>
                <li><a href="#" class="nav-link px-2 text-white">FAQs</a></li>
                <li><a href="#" class="nav-link px-2 text-white">About</a></li>
            </ul>

            <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                <input type="search" class="form-control form-control-dark" placeholder="Search..." aria-label="Search">
            </form>

            <div class="text-end">
                @if (signInManager.IsSignedIn(User))
                {
                    <form method="post" asp-action="logout" asp-controller="account">
                        <button type="submit" class="navlink-danger btn btn-link py-0" style="width:auto">
                            Logout @User.Identity.Name
                        </button>
                    </form>
                }
                else
                {
                    <a class="btn btn-outline-light me-2" asp-action="login" asp-controller="account">Вход</a>
                    <a class="btn btn-warning" asp-action="register" asp-controller="account">Регистрация</a>
                }
            </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
