@inject SignInManager<MyIdentityUser> signInManager;

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>
        @ViewBag.Title
    </title>
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="~/lib/jquery/jquery.js"></script>
    <script src="~/lib/jquery-validate/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    <script src="~/js/myJs.js"></script>
</head>
<body>
    <header class="p-3 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"></use></svg>
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a asp-action="index" asp-controller="home" class="nav-link px-2 text-secondary">GeoEvent</a></li>
            </ul>

            <div class="text-end">
@*                @if (signInManager.IsSignedIn(User))
                {
                    <form>
                        <button type="submit" asp-action="logout" asp-controller="account" class="btn btn-outline-light me-2" style="width:auto" formmethod="post">
                            Выйти @User.Identity.Name
                        </button>
                        
                        @if (!User.IsInRole("Admin") & !User.IsInRole("Moderator"))
                        {
                            <button asp-action="CreateConsiderEvent" asp-controller="user" type="submit" formmethod="get" class="btn btn-outline-light me-2" style="width:auto">
                                Предложить создание события
                            </button>   
                        }

                        @if (User.IsInRole("Admin"))
                        {
                            <button type="submit" asp-action="index" asp-controller="administration" formmethod="get" class="btn btn-outline-light me-2" style="width:auto">
                                Действия роли: Администратор
                            </button>
                        }

                        @if (User.IsInRole("Moderator"))
                        {
                            <button type="submit" asp-action="index" asp-controller="moderator" formmethod="get" class="btn btn-outline-light me-2" style="width:auto">
                                Действия роли: Модератор
                            </button>   
                        }
                    </form>
                     
                }
                else
                {
                    <form method="get">
                        <a class="btn btn-outline-light me-2" asp-action="login" asp-controller="account">Вход</a>
                        <a class="btn btn-warning" asp-action="register" asp-controller="account">Регистрация</a>
                    </form>
                }*@
                
            </div>
            </div>
        </div>
    </header>
    <div>
        @RenderBody()
    </div>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.js"></script>
</body>
</html>
